node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
*.zip

.idea
/web_work/
/.idea/
/src/assets_common/
/example/dist/
/example_cjs/src/ba-modules/bower_components/
/example/src/ba-modules/
/src/ba-modules/bower_components/
bower_components
/docs/**/*
/docs/
/docs/BegdaUI/
/docs
